body{
	padding: 0;
	margin:  0 auto;
	background-color: #ffffff;
	font-family: Arial;
	font-size: 16px; 	

}
.container {
	margin: 0;
	padding: 0;
}
.content{
	width: 1200px;
	margin: 0 auto;
		margin-top: 50px;
}
/*====================Student====================*/
.content a{
	text-align: center; 
	text-decoration: none;
}
/*======================lesson and time table========================*/
.RegMypage{
	height: 100%;
	margin: 0;
	text-align: center;
	margin-top: 300px;


}

.RegMypage a{
	text-decoration: none;
	border: 2px solid black;
	transition-duration: 2s; 
	color: white;
	background-color:  #34495e;
}
/*====================Student====================*/




.checkbox{
	background-color: #81a048e6;
}


/*================================= Register Button =================================*/
.Register{
	border: 1px solid black;
	padding: 5px 20px 5	px 20px;
	border-radius: 10px;
	background-color: #bcdd80a3;
	font-family: Bold;
	font-size: 20px; 
}

/*===============================Register and My Page Button======================================*/
#Button1{
	border: 1px solid black;
	padding: 10px 20px 10px 20px;
	border-radius: 10px;
	font-family: Bold;
	font-size: 20px; 
}
#Button2{
		border: 1px solid black;
	padding: 10px 20px 10px 20px;
	border-radius: 10px;	
	font-family: Bold;
	font-size: 20px; 
}
header{

	width: 100%;
	background-color: #34495e;
	padding-top: 30px;
	min-height: 20px;
}
header #brand h1{
	margin: 0;
	margin-left: 30px;
	color: white;
	padding: 15px; 	
}

.table-fixed{
text-align: center;
width: 100%;
background-color: #f7f7f9;
border: 2px solid black;
border-collapse: collapse;

}
    thead{
    background-color: #d4e9ae;
    }
    table tbody {
    	height: 100px;
    	overflow-y: scroll;
    }
th{
width: 100px;
	padding: 10px;
    border: 1px solid black;
    }
    td{
width: 100px;
	padding: 10px;
    border: 1px solid black;
    }
.Ection{
	margin-top: 20px;
	margin-left: 600px;
}
.buttons{
	width: 	100%;
	margin-top: 15px;	
	
	text-align: center;
}

#ENTER,#EDIT{


}



.Enter,.Edit{
	margin-right: 350px;
	float: right;
	width: 100px;
	border: 1px solid black;
		padding: 5px 20px 5px 20px;
		border-radius: 10px;
		background-color: #bcdd80a3;
		font-family: Bold;
		font-size: 20px; 
	
}

	/*#ENTER,#EDIT{
		border: 1px solid black;
		padding: 10px 20px 10px 20px;
		border-radius: 10px;
		background-color: #bcdd80a3;
		font-family: Bold;
		font-size: 20px; 
	}*/


/*===============================  Pagination =====================================*/
/*.pagination{
	margin:0;
	width: 100%;
	margin-top: 5px;	
	float: right;


}*/





@media (max-width: 1080px){
	.container,
	
	header h1,
	.RegMypage #Button1 #Button2 ,
	.RegMypage,
	.RegMypage a,
	header#brand ,
	table,.table,
	table .table,
	table .table-fixed, .table-fixed,
	table thead,tbody,
	table thead th,
	table tbody td,
	thead, tbody,.container,
	.Ection ,.Register,.buttons, .pagination,
	.pagination nav ul li,
	.pagination nav,
	.pagination ul,
	.pagination li,	input, .input,header 	{
		float: none;
		width: 100%;
		text-align: center;
	} 


	.container{
		margin:0;
	}
	.RegMypage {
		float: right;
		width: 100%;
		margin: 0px;
		margin-right:  -20px;
	
	}
	#Button1{
		display: block;
		width: 300px;
		padding: 10px 20px 20px 10px;
		margin-top: 250px;
		margin-left: 50px;


	}
	#Button2{
		margin-top: 50px;
		display: block;
		padding: 10px 20px 20px 10px;
		margin-left: 50px;
		width: 300px;
	}
 		
 	.table-fixed{
 		width: 625px;
 	margin-left: 50px;

	}
	.table{
	width: 625px;

	}
	table{
		margin:0;
	}

	.table-fixed th{
		width: 80px;
		font-size: 10px;
	}
		.table-fixed td{
			width: 76.9px;
		font-size: 10px;
	}
	header{
		width: 100%;
	}
	header h1{
		margin-right: -100px;

	}
	.buttons{
	margin-left: -550px;
	}
	.Edit{
		margin-top: 10px;
		margin-left: 100px;
	}
	.Enter{
		margin-left: 500px;
	}
	.Ection{
		display: block;
		float: left;
		width: 100px; 
		margin-top: 50px;
		margin-left: 200px; 		
	}
	input{
		display: block;}

}

#firstname{
	background-color: white;
	color: black;
	float: right;
	margin-right: 50px;
	border: 1px solid red;
	padding: 10px;
	width: 120px;
	text-align: center;
	
}
